@import "tailwindcss";

:root {
  --background-start-rgb: 10, 10, 25;
  --background-end-rgb: 25, 10, 40;
  --foreground-rgb: 230, 230, 245;
  --card-rgb: 30, 30, 50;
  --input-rgb: 45, 45, 70;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-sans);
}
